@import './variables';

.contact__container {
  min-height: 80vh;

  @media #{$mobile-only} {
    min-height: 50vh;
  }
}

.contact__content-container {
  margin-top: 10vh;
  height: 50vh;
  @media #{$mobile-only} {
    margin-top: 2vh;
  }
}
