@import './variables';

.landing__container {
  min-height: 100vh;
  font-weight: $font-strong;
}

.landing__image {
  margin-top: 25vh;
  border: solid $black 5px;
  border-radius: 2px;
}

.landing__header {
  margin-top: 5vh;
}
