@import './variables';

.navbar__container {
  padding: 5px 5px 8px 5px;
  max-width: 100%;
  background-color: $black;

  @media #{$mobile-only} {
    padding-top: 10px;
    min-height: 5vh;
    min-width: 100%;
  }
  ul {
    background-color: $black;
    padding-right: 5vw;
    @media #{$mobile-only} {
      padding-right: 0px;
    }
  }
}
