// Color .scss Variables
$yellow: #FEDA09;
$black: #293542;

// Font related Variables
$primary-font: 'Lato';

$font-strong: 700;
$font-standard: 400;
$font-light: 300;

// Media Query .scss Variables
$mobile-only: "only screen and (max-width : 768px)";
