// Color .scss Variables
$background: #D8D8D8;
$notblack: #333333;
$blue: #FFDFDA;
$white: #FFFFFF;
$dark-purple: #FF6347;
$mobile-button-grey: #f9f9f9;

// Font .scss Variables
$title-font: 'Quicksand';
$title-weight: 700;

// Media Query .scss Variables
$mobile-only: "only screen and (max-width : 768px)";
